html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  z-index: 2;
}
header img {
  width: 180px;
  height: 30px;
}
@media (min-width: 1200px) {
  header {
    height: 80px;
  }
}

.btn {
  font-family: "Roboto";
  font-size: 1rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  margin: 30px 0;
  cursor: pointer;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 1200px) {
  .btn {
    font-size: 0.9rem;
    padding: 15px 15px;
  }
}

.heart {
  position: absolute;
  font-size: 2rem;
  right: 30px;
}
.heart .heart--empty {
  color: black;
}
.heart .heart--full {
  display: none;
}
.heart:hover .heart--empty {
  display: none;
}
.heart:hover .heart--full {
  display: block;
  color: transparent;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  animation: progress-bar 1s forwards;
}

@keyframes progress-bar {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  17% {
    transform: scale(0.18);
  }
  24% {
    transform: scale(0.4);
  }
  46% {
    transform: scale(0.81);
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background: #363232;
  padding: 20px 20px 20px 25px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 1.3rem;
  color: white;
  margin: 0 0 10px 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}
footer ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 0.87rem;
  padding-bottom: 5px;
  font-weight: 400;
}
footer ul li:nth-of-type(3), footer ul li:nth-of-type(4) {
  font-weight: 300;
}
footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 1.12rem;
}
footer ul a i {
  margin-right: 10px;
  font-size: 0.87rem;
}
footer ul .fa-solid {
  color: white;
  gap: 5px;
  padding-right: 10px;
}
footer ul .fa-solid.fa-utensils {
  padding-right: 15px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    flex-direction: column;
  }
  footer ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  footer h3 {
    text-align: center;
    padding-bottom: 10px;
  }
  footer li {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  footer {
    flex-direction: row-reverse;
    padding: 50px 0 0 0;
  }
  footer ul {
    flex-direction: row-reverse;
    order: 2;
    gap: 20px;
  }
  footer h3 {
    text-align: right;
    order: 1;
    padding: 20px 40px 20px 80px;
  }
  footer li:nth-of-type(5) {
    margin-right: 40px;
  }
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
header a i {
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  padding-left: 20px;
  left: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

main img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

[id=menu] {
  position: relative;
  background: #f6f6f6;
  margin: auto;
  margin-top: -35px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-bottom: 1px;
}
[id=menu] header {
  display: flex;
  box-shadow: none;
  margin: 0 15px;
}
[id=menu] header h1 {
  font-family: "Shrikhand";
  margin: 0;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
}
[id=menu] [id=menu-header] {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
[id=menu] .menu-section header {
  display: inline-block;
}
[id=menu] .menu-section header h2 {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
[id=menu] .menu-section header .underline {
  border: 2px solid #99e2d0;
  width: 40px;
  margin: 0;
}
[id=menu] .menu-section .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}
[id=menu] .menu-section li {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px 20px;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden;
}
[id=menu] .menu-section h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[id=menu] .menu-section p {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[id=menu] .menu-section b {
  position: absolute;
  font-family: "Roboto";
  font-weight: 500;
  right: 20px;
  bottom: 20px;
  font-size: 1.1rem;
  margin: 0;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.74);
}
[id=menu] .menu-section i {
  position: absolute;
  bottom: 30px;
  color: white;
  font-size: 1.5rem;
  margin-left: 5px;
  right: -90px;
  transition: right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.74);
}
[id=menu] .menu-section .price__icon {
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  height: 100%;
  width: 80px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, right 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
[id=menu] .menu-section li:hover .price__icon {
  opacity: 1;
  right: 0;
}
[id=menu] .menu-section li:hover .price {
  transform: translateX(-70px);
}
[id=menu] .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 50px auto;
}
[id=menu] .items-entry li {
  animation: fadeIn 0.7s forwards 0.3s;
}
[id=menu] .items-main li {
  animation: fadeIn 0.7s forwards 0.7s;
}
[id=menu] .items-dessert li {
  animation: fadeIn 0.7s forwards 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 1200px) {
  header a i {
    left: 0%;
    font-size: 1rem;
  }
  .heart {
    position: static;
    padding-left: 30px;
    margin-left: 20px;
  }
  [id=menu] {
    max-width: 1200px;
  }
  [id=menu] header {
    justify-self: center;
  }
  [id=menu] [id=menu-header] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [id=menu] [id=menu-header] header {
    display: block;
  }
  [id=menu] [id=menu-header] h1 {
    font-size: 2rem;
  }
  [id=menu] .menu-section {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
  }
  [id=menu] .menu-section header {
    height: 60px;
  }
  [id=menu] .menu-section li {
    max-width: 1020px;
  }
}

/*# sourceMappingURL=restaurant.css.map */
