html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  z-index: 2;
}
header img {
  width: 180px;
  height: 30px;
}

.btn {
  font-family: "Roboto";
  font-size: 1.12rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  margin: 30px 0;
  cursor: pointer;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 0.9rem;
    padding: 15px 15px;
  }
}

.heart {
  position: absolute;
  font-size: 2rem;
  right: 30px;
}
.heart .heart--empty {
  color: black;
}
.heart .heart--full {
  display: none;
}
.heart:hover .heart--empty {
  display: none;
}
.heart:hover .heart--full {
  display: block;
  animation: fillHeart 3s forwards;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
}
@keyframes fillHeart {
  0% {
    color: transparent;
  }
  100% {
    color: transparent;
    background-size: 100% auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: #363232;
  padding: 20px 20px 20px 25px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 1.3rem;
  color: white;
  margin: 0 0 10px 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}
footer ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 0.87rem;
  padding-bottom: 5px;
  font-weight: 400;
}
footer ul li:nth-of-type(3), footer ul li:nth-of-type(4) {
  font-weight: 300;
}
footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 1.12rem;
}
footer ul a i {
  margin-right: 10px;
  font-size: 0.87rem;
}
footer ul .fa-solid {
  color: white;
  gap: 5px;
  padding-right: 10px;
}
footer ul .fa-solid.fa-utensils {
  padding-right: 15px;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding: 50px 0 0 0;
  }
  footer ul {
    flex-direction: row-reverse;
    order: 2;
    gap: 20px;
  }
  footer h3 {
    text-align: right;
    order: 1;
    padding: 20px 40px 20px 80px;
  }
  footer li:nth-of-type(5) {
    margin-right: 40px;
  }
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
header a i {
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  padding-left: 20px;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

[id=menu] {
  position: relative;
  background: #f6f6f6;
  display: grid;
  margin: auto;
  margin-top: -35px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
[id=menu] .header {
  position: relative;
  display: inline-block;
  margin: 20px 15px 0;
}
[id=menu] .header h1 {
  font-family: "Shrikhand";
  margin: 0;
  display: inline-block;
  position: relative;
}

[id=menu-section] .header {
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0 20px 15px;
}
[id=menu-section] .header h2 {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 40px;
}
[id=menu-section] .header hr {
  border: 2px solid #99e2d0;
  width: 40px;
  margin: 0;
}
[id=menu-section] .header .li {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  margin: 10px 10px 20px 10px;
  padding: 15px;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
}
[id=menu-section] .header .li .menu__card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
}
[id=menu-section] .header .li .menu__card__text h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.12rem;
  margin: 0;
}
[id=menu-section] .header .li .menu__card__text p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}
[id=menu-section] .header .li .b {
  position: absolute;
  font-family: "Roboto";
  font-weight: 500;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  margin: 0;
}
[id=menu-section] .header .li i {
  font-size: 1rem;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  [id=menu-section] .menu {
    align-items: center;
    max-width: 1040px;
  }
  [id=menu-section] .menu .menu__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  [id=menu-section] .menu .menu__card {
    margin: 10px;
    width: 65%;
  }
}
[id=menu-section] .footer {
  display: flex;
  flex-direction: column;
  background: #363232;
  padding: 20px 20px 20px 25px;
}
[id=menu-section] .footer h2 {
  font-family: "Shrikhand";
  font-size: 1.3rem;
  color: white;
  margin: 0 0 10px 0;
}
[id=menu-section] .footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}
[id=menu-section] .footer ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 0.87rem;
  padding-bottom: 5px;
  font-weight: 400;
}
[id=menu-section] .footer ul li:nth-child(4) {
  font-weight: 300;
}
[id=menu-section] .footer ul li:nth-child(5) {
  font-weight: 300;
}
[id=menu-section] .footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 1.12rem;
}
[id=menu-section] .footer ul a i {
  margin-right: 10px;
  font-size: 0.87rem;
}
[id=menu-section] .footer ul .footer_icon {
  color: white;
  gap: 5px;
  padding-right: 10px;
}
[id=menu-section] .footer ul .footer_icon.fa-utensils {
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  [id=menu-section] .footer ul {
    flex-direction: row;
    justify-content: flex-end;
    order: 2;
    gap: 20px;
  }
  [id=menu-section] .footer h2 {
    text-align: right;
    order: 1;
    padding: 20px 40px 20px 80px;
  }
  [id=menu-section] .footer li:nth-child(3) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header .fa-solid .fa-arrow-left {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=restaurant.css.map */
