html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
}
header .header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  padding-left: 20px;
}
header img {
  margin: 0 auto;
  width: 180px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header .header__button {
    font-size: 1rem;
  }
}
img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.menu {
  position: relative;
  align-items: center;
  background: #f6f6f6;
  display: grid;
  width: 100%;
  margin: auto;
  margin-top: -35px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  max-width: 1050px;
  z-index: 1;
}
.menu h1 {
  font-family: "Shrikhand";
}
.menu .menu__title h2 {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 40px;
}
.menu .menu__title hr {
  border: 2px solid #99e2d0;
  width: 40px;
  margin: 0;
}
.menu .menu__card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
}
.menu .menu__card .menu__card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
}
.menu .menu__card .menu__card__text h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.12rem;
  margin: 0;
}
.menu .menu__card .menu__card__text p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}
.menu .menu__card .menu__card__price {
  position: absolute;
  font-family: "Roboto";
  font-weight: 500;
  right: 20px;
  bottom: 20px;
}
.menu .menu__card .menu__card__check {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.menu .menu__card:hover .menu__card__check {
  opacity: 1;
}
.menu .menu__card__check {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
}
.menu .menu__card__check:hover {
  opacity: 1;
}
.menu .menu__card__check i {
  font-size: 1.5rem;
}
.menu .menu__button {
  font-family: "Roboto";
  font-size: 1.12rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  margin: 40px auto;
  cursor: pointer;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
  width: 200px;
}
.menu .menu__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.footer {
  display: flex;
  flex-direction: column;
  background: #363232;
  padding: 20px 20px 20px 25px;
}
.footer h2 {
  font-family: "Shrikhand";
  font-size: 1.3rem;
  color: white;
  margin: 0 0 10px 0;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}
.footer ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 0.87rem;
  padding-bottom: 5px;
  font-weight: 400;
}
.footer ul li:nth-child(4) {
  font-weight: 300;
}
.footer ul li:nth-child(5) {
  font-weight: 300;
}
.footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 1.12rem;
}
.footer ul a i {
  margin-right: 10px;
  font-size: 0.87rem;
}
.footer ul .footer_icon {
  color: white;
  gap: 5px;
  padding-right: 10px;
}
.footer ul .footer_icon.fa-utensils {
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .footer ul {
    flex-direction: row;
    justify-content: flex-end;
    order: 2;
    gap: 20px;
  }
  .footer h2 {
    text-align: right;
    order: 1;
    padding: 20px 40px 20px 80px;
  }
  .footer li:nth-child(3) {
    margin-right: 40px;
  }
}

/*# sourceMappingURL=restaurant.css.map */
