body {
    margin: 0;
}

.header{
    font-family: "Shrikhand";
    font-size: 30px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }

  .location p {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  .location form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
  }

  .fa-solid {
    color: black;
    padding-right: 10px;
  }
