html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  font-family: "Shrikhand";
  font-size: 1.87rem;
  text-align: center;
  margin: 10px 0;
  color: black;
}
.header h1 {
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.location form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location form i {
  padding-right: 10px;
}
.location form p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.explorer h1 {
  font-family: "Roboto";
  font-size: 1.375rem;
  text-align: center;
  margin-top: 20px;
}
.explorer p {
  font-family: "Roboto";
  font-size: 1.12rem;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.button {
  font-family: "Roboto";
  font-size: 1.12rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px 25px;
  text-align: center;
  margin: 30px 0 50px 0;
  cursor: pointer;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.function {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
}
.function h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  text-align: left;
  padding-left: 20px;
}
.function ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.function ul li {
  display: flex;
  align-items: center;
}
.function ul i {
  font-size: 1.5rem;
  padding-left: 40px;
  color: grey;
}
.function ul i.third-icon {
  color: #9356dc;
}
.function ul h3 {
  font-size: 1.12rem;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.function ul .function__list {
  width: 100%;
  height: 75px;
  background-color: #f2f2f2;
  border-radius: 30px;
  margin: 0 20px;
  position: relative;
  gap: 20px;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
}
.function ul .function__list__number {
  width: 25px;
  height: 25px;
  font-family: "Roboto";
  font-size: 1rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -50px;
  top: 35%;
  transform: translateY(-50%);
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 0 20px;
}
.restaurants a {
  display: flex;
  text-align: left;
  text-decoration: none;
}
.restaurants h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  text-align: left;
  padding: 40px 0 0;
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}
.restaurants .restaurants__card img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .restaurants__card .restaurants__card__content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 20px;
  height: 70px;
  margin: 20px 0 0 10px;
}
.restaurants .restaurants__card .restaurants__card__content h4 {
  font-family: "Roboto";
  font-size: 1.12rem;
  font-weight: bold;
  color: black;
  margin: 0;
}
.restaurants .restaurants__card .restaurants__card__content p {
  font-family: "Roboto";
  font-size: 1.12rem;
  font-weight: 300;
  color: black;
  margin: 0;
}
.restaurants .restaurants__card .restaurants__card__content i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  color: #9356dc;
}
.restaurants .restaurants__card .restaurants__card__new {
  position: absolute;
  text-align: center;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  color: #127953;
  font-family: "Roboto";
  font-weight: 500;
  padding: 5px;
  border-radius: 3px;
  width: 80px;
  height: 20px;
}
.restaurants .restaurants__card .restaurants__card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #363232;
  padding-left: 10px;
}
.footer h2 {
  font-family: "Shrikhand";
  font-size: 0.87rem;
  color: white;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.footer ul li {
  display: flex;
  font-family: "Roboto";
  font-size: 0.87rem;
}
.footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 0.87rem;
}
.footer ul a i {
  margin-right: 10px;
  font-size: 0.87rem;
}
.footer ul .footer_icon {
  font-size: 0.8rem;
  color: white;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
