$footer-font: 'Shrikhand';
$text-font: 'Roboto';
$title-size: 1.8rem;

$primary-color: #ff79da;
$secondary-color: #9356dc;
$tertiary-color: #99e2d0;

$box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.1);



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}




header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    z-index: 2;

    img {
        width: 180px;
        height: 30px;
    }

    @media (min-width: 1200px) {
        height: 80px;
}
}

.btn {
    font-family: "Roboto";
    font-size: 1rem;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    margin: 30px 0;
    cursor: pointer;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.6);
    }

    @media screen and (min-width: 1200px) {
        font-size: 0.9rem;
        padding: 15px 15px;
    }
}

/* Sélecteur de base pour l'élément .heart */
.heart {
    position: absolute;
    font-size: 2rem;
    right: 30px;

    /* Style pour l'icône de cœur vide */
    .heart--empty {
        color: black;
    }

    /* Style pour l'icône de cœur rempli (initialement caché) */
    .heart--full {
        display: none;
    }

    /* Animation lorsque survolé */
    &:hover .heart--empty {
        display: none;
    }

    /* Lorsque survolé, afficher l'icône de cœur rempli avec animation */
    &:hover .heart--full {
        display: block;
        color: transparent;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        animation: progress-bar 900ms forwards; /* Animation de progression */
    }

    /* Pseudo-élément ::after pour inverser l'animation */
    &::after {
        content: ''; /* Contenu requis pour le pseudo-élément */
        display: block;
        position: absolute;
    }

    /* Lorsque le survol se termine, inverser l'animation */
    &:not(:hover)::after .heart--empty {
        display: block;
        color: transparent;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        animation: reverse-progress-bar 900ms forwards; /* Animation inversée */
    }

    /* Cacher l'icône de cœur rempli après inversion */
    &:not(:hover)::after .heart--full {
        display: none;
    }
}

/* Animation de progression (de l'icône vide à remplie) */
@keyframes progress-bar {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    17% {
        transform: scale(0.18);
    }
    24% {
        transform: scale(0.4);
    }
    46% {
        transform: scale(0.81);
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

/* Animation inversée (de l'icône remplie à vide) */
@keyframes reverse-progress-bar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    17% {
        transform: scale(0.81);
    }
    24% {
        transform: scale(0.4);
    }
    46% {
        transform: scale(0.18);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}


    



footer {
    display: flex;
    flex-direction: column;
    background: #363232;
    padding: 20px 20px 20px 25px;

    h3 {
        font-family: $footer-font;
        font-size: 1.3rem;
        color: white;
        margin: 0 0 10px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            font-family: $text-font;
            font-size: 0.87rem;
            padding-bottom: 5px;
            font-weight: 400;

            &:nth-of-type(3),
            &:nth-of-type(4) {
                font-weight: 300;
            }
        }

        a {
            text-decoration: none;
            color: white;
            font-family: $text-font;
            font-size: 1.12rem;

            i {
                margin-right: 10px;
                font-size: 0.87rem;
            }
        }

        .fa-solid {
            color: white;
            gap: 5px;
            padding-right: 10px;

            &.fa-utensils {
                padding-right: 15px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;

        ul {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        h3 {
            text-align: center;
            padding-bottom: 10px;
        }

        li {
            text-align: center;
        }
    }


    @media (min-width: 1200px) {

        flex-direction: row-reverse;
        padding: 50px 0 0 0;

        ul {
            flex-direction: row-reverse;
            order: 2;
            gap: 20px;
        }

        h3 {
            text-align: right;
            order: 1;
            padding: 20px 40px 20px 80px;
        }

        li {
            &:nth-of-type(5) {
                margin-right: 40px;
            }
        }
    }
}